
.cart h1 {
    padding-left: 20px;
    margin-bottom: 30px;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.emptyCart p {
    font-size: 1.5rem;
}

.cartLayout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    align-items: start;
}

.summary {
    max-width: 350px;
    height: 200px;
    font-size: 1.5rem;
    padding: 20px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    box-shadow: 3px 4px 7px rgb(129, 128, 128);
    background-color: rgb(252, 248, 248);
    border-radius: 10px;
}

.summary p {
    font-size: 1.2rem;
}

.summary button {
    width: 40%;
    height: 40px;
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.summary button:hover {
    background-color: rgb(3, 88, 3);
}

.summary button:active {
    transform: scale(0.95)
}

