
.productPage {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
}

.productPageImg img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.productPrice {
    font-size: 1.5rem;
}

.addCartBtn {
    cursor: pointer;
    margin-top: 20px;
    min-width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}

.addCartBtn:disabled {
    background-color: rgb(110, 105, 105);
    cursor: not-allowed;
    opacity: 0.6;
    transform: none;
}

.addCartBtn:disabled:hover {
    background-color: rgb(110, 105, 105);
    cursor: not-allowed;
}

.addCartBtn:disabled:active {
    transform: none;
}

.addCartBtn:hover {
    background-color: rgb(3, 88, 3);
}

.addCartBtn:active {
    transform: scale(0.95)
}