.product {
    border-radius: 5px;
    width: 550px;
    display: flex;
    transition: transform 0.2s ease;
    box-shadow: 3px 4px 7px rgb(129, 128, 128);
    background-color: rgb(252, 248, 248);
}

.product:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.description hr {
    width: 100%;
    border: none;
    border-top: 2px solid rgb(204, 201, 201);
}

.productLink {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 15px;
}

.productLink:hover {
    color: inherit;
}

.addCartBtn:hover {
    cursor: pointer;
}

.productImg {
    width: 150px;
    height: 150px;
    background-color: rgb(224, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}