
.sizes {
    display: flex;
    gap: 3px;
}

.sizes button {
    width: 50px;
    height: 50px;
    font-size: 14px;
    padding: 0;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.sizes button:hover {
    background: rgb(240, 239, 239);
}

.sizes button.selected {
    background-color: rgb(205, 203, 203);
}