
.welcomeSquare {
    min-width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    border-radius: 10px;
    background-color: rgb(217, 214, 214);;
    box-shadow: 3px 4px 7px rgb(129, 128, 128);
}

.icons {
    display: flex;
    align-items: center;
}