
body {
  margin: 0;
  background-color: rgb(243, 241, 241);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(4, 19, 53);
  color: white;

  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 8px black;
}

nav {
  display: flex;
  gap: 25px;
}

.cartIcon {
  display: flex;
  align-items: center;
}

.cartCount {
  font-size: 1.4em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: rgb(154, 151, 151);
}

a:active {
  transform: scale(0.95)
}